<a href="https://colab.research.google.com/github/ysooch0819/AI16-Projects/blob/main/S3Project_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [292]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.8/dist-packages (2.9.5)

In [293]:
import pandas as pd
import time
import os
import requests
import json
import psycopg2

In [287]:
chal_match_test = pd.read_csv('chal_match_details.csv', encoding='cp949')

In [290]:
chal_match_test = chal_match_test[['augments', 'traits', 'units' ,'level', 'placement']]

In [300]:
conn = psycopg2.connect(
    host='mahmud.db.elephantsql.com',
    user='ysgzfdtl',
    password='dJZXvOPOfXj6Z6kXcWYLzAj10-kUhrq4',
    database='ysgzfdtl'
)

In [301]:
cur = conn.cursor()

In [320]:
cur.execute("SELECT * FROM chal_match_details;")
df = pd.DataFrame(cur.fetchall())

In [321]:
df.columns

RangeIndex(start=0, stop=6, step=1)

In [322]:
chal_df = df.rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement'}).set_index('index').reset_index().drop(columns=['index'])

In [323]:
chal_df.head()

,augments,traits,units,level,placement
0,"['TFT7_Augment_BandOfThieves1', 'TFT6_Augment_...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Annie', 'itemNames': [...",8,2
1,"['TFT6_Augment_Battlemage1', 'TFT6_Augment_Cel...","[{'name': 'Set8_AnimaSquad', 'num_units': 1, '...","[{'character_id': 'TFT8_Kayle', 'itemNames': [...",7,4
2,"['TFT8_Augment_ADMINTrait', 'TFT7_Augment_Prep...","[{'name': 'Set8_Admin', 'num_units': 4, 'style...","[{'character_id': 'TFT8_Sylas', 'itemNames': [...",8,6
3,"['TFT8_Augment_StarGuardianTrait', 'TFT6_Augme...","[{'name': 'Set8_Aegis', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Lux', 'itemNames': [],...",8,8
4,"['TFT7_Augment_AFK', 'TFT6_Augment_Featherweig...","[{'name': 'Set8_Ace', 'num_units': 1, 'style':...","[{'character_id': 'TFT8_Fiora', 'itemNames': [...",8,7

In [324]:
cur.execute("SELECT * FROM grandmaster_match_details;")
df = pd.DataFrame(cur.fetchall())

In [325]:
gm_df = df.rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement'}).set_index('index').reset_index().drop(columns=['index'])

In [326]:
gm_df.head()

,augments,traits,units,level,placement
0,"['TFT8_Augment_LeeSinCarry', 'TFT6_Augment_Por...","[{'name': 'Set8_Aegis', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Galio', 'itemNames': [...",8,5
1,"['TFT8_Augment_LeeSinSupport', 'TFT6_Augment_T...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Blitzcrank', 'itemName...",8,3
2,"['TFT8_Augment_LuluSupport', 'TFT6_Augment_Lud...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Lulu', 'itemNames': []...",9,2
3,"['TFT8_Augment_GalioSupport', 'TFT7_Augment_Sc...","[{'name': 'Set8_Aegis', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Galio', 'itemNames': [...",6,7
4,"['TFT8_Augment_FioraSupport', 'TFT6_Augment_Po...","[{'name': 'Set8_Aegis', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Gangplank', 'itemNames...",7,6

In [327]:
cur.execute("SELECT * FROM master_match_details;")
master_df = pd.DataFrame(cur.fetchall()).rename(columns={0:'index', 1:'augments', 2:'traits', 3:'units', 4:'level', 5:'placement'}).set_index('index').reset_index().drop(columns=['index'])

In [328]:
master_df.head()

,augments,traits,units,level,placement
0,"['TFT8_Augment_MascotTrait', 'TFT8_Augment_Yuu...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Galio', 'itemNames': [...",7,1
1,"['TFT6_Augment_SecondWind1', 'TFT8_Augment_Yuu...","[{'name': 'Set8_AnimaSquad', 'num_units': 1, '...","[{'character_id': 'TFT8_Galio', 'itemNames': [...",6,7
2,"['TFT8_Augment_ADMINTrait', 'TFT8_Augment_JaxS...","[{'name': 'Set8_Admin', 'num_units': 3, 'style...","[{'character_id': 'TFT8_Blitzcrank', 'itemName...",8,4
3,"['TFT8_Augment_ADMINTrait', 'TFT8_Augment_Cami...","[{'name': 'Set8_Admin', 'num_units': 6, 'style...","[{'character_id': 'TFT8_Talon', 'itemNames': [...",8,2
4,"['TFT8_Augment_GangplankCarry', 'TFT6_Augment_...","[{'name': 'Set8_Brawler', 'num_units': 1, 'sty...","[{'character_id': 'TFT8_Kayle', 'itemNames': [...",5,8

In [330]:
chal_df.shape, gm_df.shape, master_df.shape

((27840, 5), (64000, 5), (57720, 5))

In [331]:
def unitCost(argument):
    switcher = {
        0: 1,
        1: 2,
        2: 3,
        3: 6,
        4: 4,
        5: 7,
        6: 5,
        7: 10,
    }
    return switcher.get(argument, -1)

In [335]:
def add_cost_sum(df):
    cols = ['cost_sum', 'high_cost_sum', 'high_cost_ratio']
    units_df = pd.DataFrame(columns = cols)
    ## 필드에 배치한 유닛 총 골드 구하기
    for i in range(0, len(df)):
        result_list = []
        tmp = pd.json_normalize(json.loads(df.iloc[i]['units'].replace("'",'"')))
        
        if len(tmp) > 0:
            cost_sum = 0
            high_cost_sum = 0
            for idx in range(0, len(tmp)):
                cost = unitCost(tmp.iloc[idx]['rarity'])
                cost_sum += cost*(3**(tmp.iloc[idx]['tier']-1))
                if cost >=4: # 4코스트 이상의 유닛에 사용한 총 골드
                    high_cost_sum += cost*(3**(tmp.iloc[idx]['tier']-1))

            high_cost_ratio = high_cost_sum / cost_sum
        else:
            cost_sum = -1
            high_cost_sum= -1
            high_cost_ratio = -1
            
        result_list += cost_sum, high_cost_sum, high_cost_ratio
        units_df = units_df.append(pd.DataFrame([result_list], columns=cols))
    units_df = units_df.reset_index(drop=True)
    df = df.merge(units_df, left_index=True, right_index=True)
    return df

In [336]:
chal_df = add_cost_sum(chal_df)

In [337]:
chal_df

,augments,traits,units,level,placement,cost_sum,high_cost_sum,high_cost_ratio
0,"['TFT7_Augment_BandOfThieves1', 'TFT6_Augment_...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Annie', 'itemNames': [...",8,2,86,29,0.337209
1,"['TFT6_Augment_Battlemage1', 'TFT6_Augment_Cel...","[{'name': 'Set8_AnimaSquad', 'num_units': 1, '...","[{'character_id': 'TFT8_Kayle', 'itemNames': [...",7,4,73,4,0.054795
2,"['TFT8_Augment_ADMINTrait', 'TFT7_Augment_Prep...","[{'name': 'Set8_Admin', 'num_units': 4, 'style...","[{'character_id': 'TFT8_Sylas', 'itemNames': [...",8,6,72,12,0.166667
3,"['TFT8_Augment_StarGuardianTrait', 'TFT6_Augme...","[{'name': 'Set8_Aegis', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Lux', 'itemNames': [],...",8,8,50,34,0.680000
4,"['TFT7_Augment_AFK', 'TFT6_Augment_Featherweig...","[{'name': 'Set8_Ace', 'num_units': 1, 'style':...","[{'character_id': 'TFT8_Fiora', 'itemNames': [...",8,7,74,39,0.527027
...,...,...,...,...,...,...,...,...
27835,"['TFT6_Augment_SunfireBoard', 'TFT8_Augment_Yu...","[{'name': 'Set8_AnimaSquad', 'num_units': 1, '...","[{'character_id': 'TFT8_Galio', 'itemNames': [...",8,1,79,20,0.253165
27836,"['TFT8_Augment_GenAETrait', 'TFT8_Augment_ZoeS...","[{'name': 'Set8_Admin', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Annie', 'itemNames': [...",8,2,95,44,0.463158
27837,"['TFT8_Augment_UndergroundTheTrait', 'TFT8_Aug...","[{'name': 'Set8_Admin', 'num_units': 2, 'style...","[{'character_id': 'TFT8_Blitzcrank', 'itemName...",8,6,44,17,0.386364
27838,"['TFT6_Augment_Battlemage2', 'TFT8_Augment_Jax...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Blitzcrank', 'itemName...",7,5,70,12,0.171429
27839,"['TFT6_Augment_Traitless2', 'TFT8_Augment_Nila...","[{'name': 'Set8_Admin', 'num_units': 1, 'style...","[{'character_id': 'TFT8_Nilah', 'itemNames': [...",7,8,78,12,0.153846

In [113]:
pd.json_normalize(json.loads(df.iloc[16]['traits'].replace("'", '"')))

                name  num_units  style  tier_current  tier_total
0         Set8_Admin          2      1             1           3
1         Set8_Aegis          2      1             1           4
2     Set8_Channeler          1      0             0           4
3         Set8_GenAE          5      3             2           2
4        Set8_Hacker          1      0             0           3
5         Set8_Heart          2      1             1           3
6        Set8_Mascot          2      1             1           4
7       Set8_OxForce          2      1             1           4
8     Set8_Prankster          3      3             2           2
9  Set8_StarGuardian          1      0             0           4

In [163]:
test_df = pd.json_normalize(json.loads(df[df.placement <= 3].iloc[0]['traits'].replace("'",'"')))

In [174]:
test_df.sort_values('num_units', ascending=False)

                   name  num_units  style  tier_current  tier_total
5            Set8_Heart          4      2             2           3
9     Set8_StarGuardian          3      1             1           4
1            Set8_Aegis          2      1             1           4
2        Set8_Channeler          2      1             1           4
3            Set8_GenAE          2      0             0           2
6           Set8_Mascot          2      1             1           4
7          Set8_OxForce          2      1             1           4
8        Set8_Prankster          2      1             1           2
0            Set8_Admin          1      0             0           3
4           Set8_Hacker          1      0             0           3
10  Set8_UndergroundThe          1      0             0           2

In [282]:
test_unit_df = pd.json_normalize(json.loads(df[df.placement == 2].iloc[2]['units'].replace("'",'"')))

In [283]:
# 진화등급, 아이템 착용 개수, 코스트 순서로 유닛들 정렬
test_unit_df = pd.concat([test_unit_df.drop(columns=['itemNames', 'name','items']), test_unit_df['itemNames'].apply(lambda x: pd.Series(x))], axis=1).sort_values(by=[2,'tier', 'rarity'], ascending=[False, False, False])

In [284]:
test_unit_df = test_unit_df.rename(columns={0:'item1', 1:'item2', 2:'item3'})
test_unit_df

,character_id,rarity,tier,item1,item2,item3
2,TFT8_Sona,2,3,TFT_Item_SpearOfShojin,TFT_Item_MadredsBloodrazor,TFT_Item_JeweledGauntlet
7,TFT8_Syndra,6,1,TFT_Item_ThiefsGloves,TFT_Item_RunaansHurricane,TFT_Item_ArchangelsStaff
5,TFT8_Ekko,4,2,TFT_Item_TitanicHydra,TFT4_Item_OrnnAnimaVisage,TFT8_Item_Shroud_GenAE
1,TFT8_Annie,1,3,TFT_Item_BrambleVest,TFT_Item_GargoyleStoneplate,TFT8_Item_HeartEmblemItem
6,TFT8_Soraka,4,2,TFT_Item_MadredsBloodrazor,TFT_Item_SpearOfShojin,TFT4_Item_OrnnZhonyasParadox
3,TFT8_Alistar,2,2,TFT_Item_TitanicHydra,TFT_Item_TitanicHydra,NaN
4,TFT8_Zoe,2,2,TFT_Item_SeraphsEmbrace,TFT8_Item_HeartEmblemItem,NaN
0,TFT8_Lulu,0,2,TFT4_Item_OrnnInfinityForce,NaN,NaN

In [285]:
## 재료아이템 목록
# BFSword : 대검
# TFT_Item_NeedlesslyLargeRod : 쓸큰지

## 조합아이템 목록
# TFT_Item_JeweledGauntlet : 보건
# TFT_Item_RabadonsDeathcap : 데캡
# TFT_Item_ThiefsGloves : 도장
# TFT_Item_RedBuff : 태불망
# Zephyr : 서풍
# TFT_Item_EmptyBag
# TFT_Item_TitanicHydra : 
# TFT_Item_IonicSpark : 이온충격기
# TFT_Item_Shroud : 침장
# TFT_Item_SeraphsEmbrace : 블루
# TFT_Item_InfinityEdge : 인피
# TFT_Item_RapidFireCannon : 고연포
# TFT_Item_PowerGauntlet : 
# TFT_Item_FrozenHeart : 얼심
# TFT_Item_Bloodthirster : 피바라기
# TFT_Item_StatikkShiv : 스태틱
# TFT_Item_GuinsoosRageblade : 구인수의 격노검
# TFT_Item_BrambleVest : 가시갑옷
# TFT_Item_MadredsBloodrazor : 거학
# TFT_Item_Morellonomicon : 모렐로
# TFT_Item_SpearOfShojin : 쇼진의창
# TFT_Item_Deathblade : 죽검
# TFT_Item_LastWhisper : 라위
# TFT_Item_GargoyleStoneplate : 가고일돌갑옷
# ZekesHerald : 지크의전령
# GuardianAngl : 
# TFT_Item_LocketOfTheIronSolari : 솔라리
# TFT_Item_RunaansHurricane : 루난의 허리케인
# TFT_Item_Quicksilver : 수은
# TFT_Item_Redemption : 구원
# TFT_Item_TitansResolve : 거인의결의
# TFT_Item_WarmogsArmor : 워모그갑옷
# TFT_Item_Chalice : 성배
# TFT_Item_DragonsClaw : 용발
# TFT_Item_ArchangelsStaff : 대천사의 지팡이

## 시너지 문양
# TFT8_Item_DuelistEmblemItem : 결투가 문양
# TFT8_Item_CivilianEmblemItem : 민간인 문양
# TFT8_Item_AegisEmblemItem : 방패대 문양
# TFT8_Item_HeartEmblemItem : 선의 문양
# TFT8_Item_ChannelerEmblemItem : 주문추적자 문양
# TFT8_Item_PranksterEmblemItem : 익살꾼 문양
# TFT8_Item_ADMINEmblemItem : 자동방어체계 문양

## 기계유망주 아이템: _GenAE

## 오른 증강체 아이템: _Ornn

In [215]:
for row in test_unit_df:
  print(row)
  # breakpoint()
  # if x["itemNames"] :
  #     print(x['character_id'], x['itemNames'])

character_id
itemNames
items
name
rarity
tier

In [37]:
total_units_table = pd.DataFrame()

In [92]:
class tft8_unit:
    def __init__(self, id, syn1, syn2, syn3 = None):
        self.id = id
        self.syn1 = syn1
        self.syn2 = syn2
        self.syn3 = syn3
    
    def whoiam(self):
        if self.syn3:
            return f"id: {self.id}, synergy: {self.syn1}, {self.syn2}, {self.syn3}"
        else:
            return f"id: {self.id}, synergy: {self.syn1}, {self.syn2}"

In [90]:
## 시너지 종류
# Set8_Admin : 자동방어체계 
# Set8_Aegis : 방패대
# Set8_Channeler : 주문추적자(spellslinger)
# Set8_StarGuardian : 별수호자
# Set8_Prankster : 익살꾼
# Set8_OxForce : 황소부대
# Set8_UndergroundThe : 지하세계(Underground)
# Set8_Mascot : 마스코트
# Set8_Hacker : 해커
# Set8_Heart : 선의
# Set8_Ace : 에이스
# Set8_Brawler : 싸움꾼
# Set8_Civilian : 민간인
# Set8_Deadeye : 특등사수(Sureshot)
# Set8_SpaceCorps : 레이저단(LaseerCorps)
# Set8_Defender : 엄호대
# Set8_ExoPrime : 메카프라임(Mecha:PRIME)
# Set8_Threat : 위협
# Set8_Recon : 정찰단
# Set8_Duelist : 결투가
# Set8_AnimaSquad : 동물특공대
# Set8_Supers : 우세
# Set8_GenAE : 기계유망주(Gadgeteen)
# Set8_Corrupted : 타락
# Set8_Forecaster : 기상캐스터
# Set8_Renegade : 무법자

In [93]:
Annie = tft8_unit('TFT8_Annie', 'Set8_GenAE', 'Set8_Oxforce', 'Set8_Channeler')
Blitzcrank = tft8_unit('TFT8_Blitzcrank', 'Set8_Admin', 'Set8_Brawler')
Camile
LeBlanc
Soraka

In [94]:
test_df["character_id"]

0    TFT8_Gangplank
1           TFT8_Vi
2       TFT8_LeeSin
3     TFT8_Malphite
4       TFT8_Ezreal
5         TFT8_Sona
Name: character_id, dtype: object