<a href="https://colab.research.google.com/github/ysooch0819/AI16-Projects/blob/main/Section2_project_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
import time
import json
from pandas import json_normalize

In [109]:
import re

In [296]:
# api_key = getAPIkey()
api_key = 'RGAPI-59eee192-2b76-439d-bb11-87c4de8e0a88'
REGION_SET= 'kr'
tier = 'challenger'
request_headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Accept-Charset": "application/x-www-form-urlencoded; charset=UTF-8",
    "Origin": "https://developer.riotgames.com"
}
url= 'https://kr.api.riotgames.com/tft/league/v1/challenger?api_key=' + api_key

req = requests.get(url)

In [299]:
len(req.json()['entries'])

300

In [305]:
challenger_sample = pd.DataFrame(req.json()).reset_index()
challenger_sample.to_csv('sample.csv', index=False, encoding='cp949')

In [306]:
challenger_sample

,index,tier,leagueId,queue,name,entries
0,0,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'Wq6S0VXK-5RxqhCIoj43jaY7yap4wl...
1,1,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'kRsaMVAuKMJ98pVtiiHuIliwEpJiGq...
2,2,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'LZYr5TN16DmatrYfG5nHRx7xjLLD-8...
3,3,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'EevAodEB1ogihddloTtNQmr237TbPY...
4,4,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'oarzOITC6LUddm097p5zMhpXFT2zeR...
...,...,...,...,...,...,...
295,295,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'alMRPqSjnkp4OII6-ZBbCdqdt3jXuh...
296,296,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'UiV0CKlJ-tHX7LVwQ2Z95nxdox8OMn...
297,297,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'cSXx2KKA1LyGEDbS1Od8GH_Zwoduvf...
298,298,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'ZKKeGZw9l_c7hWyk_eJpVy0RCRjScN...
299,299,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'la9MWpvJ81njFDXM-krIjkbc3OEF6y...

In [307]:
challenger_entries = pd.DataFrame(dict(challenger_sample['entries'])).T
challenger_entries

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,Wq6S0VXK-5RxqhCIoj43jaY7yap4wlOluyY2OKT35Gzvng,관자빵,1026,I,202,170,False,False,False,True
1,kRsaMVAuKMJ98pVtiiHuIliwEpJiGqSDRVhfrS50TdPkwt...,Inv Artist,1338,I,428,273,True,False,False,True
2,LZYr5TN16DmatrYfG5nHRx7xjLLD-8dmSTvgdb5Uk-88CcY,fanny1,1088,I,377,340,False,False,True,True
3,EevAodEB1ogihddloTtNQmr237TbPYwIGPedgVJ4qum96X...,엠 돈,1055,I,299,260,False,False,False,False
4,oarzOITC6LUddm097p5zMhpXFT2zeRSX4ZHJ77mv1zcfor0,철회랜드,1025,I,196,158,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...
295,alMRPqSjnkp4OII6-ZBbCdqdt3jXuhPl0o9_oWhECrDkGg,깨로록,1025,I,100,66,False,False,False,True
296,UiV0CKlJ-tHX7LVwQ2Z95nxdox8OMnEEv404aJQipt1CBZ...,소추하남자봉달,1203,I,243,225,False,False,False,False
297,cSXx2KKA1LyGEDbS1Od8GH_ZwoduvfotA6ZNShdRYyivHP...,z천하무적고경이z,1081,I,273,222,False,False,True,False
298,ZKKeGZw9l_c7hWyk_eJpVy0RCRjScNEVfXw0yxZ6Eq6JZQ,가죽부츠,1015,I,95,64,False,False,False,False
299,la9MWpvJ81njFDXM-krIjkbc3OEF6yQIIqc-PbRotp2hPa...,등감이,1187,I,226,147,True,False,False,True

In [309]:
challenger_sample = pd.concat([challenger_sample, challenger_entries], axis=1)

In [313]:
challenger_sample.head()

,index,tier,leagueId,queue,name,entries,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,0,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'Wq6S0VXK-5RxqhCIoj43jaY7yap4wl...,Wq6S0VXK-5RxqhCIoj43jaY7yap4wlOluyY2OKT35Gzvng,관자빵,1026,I,202,170,False,False,False,True
1,1,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'kRsaMVAuKMJ98pVtiiHuIliwEpJiGq...,kRsaMVAuKMJ98pVtiiHuIliwEpJiGqSDRVhfrS50TdPkwt...,Inv Artist,1338,I,428,273,True,False,False,True
2,2,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'LZYr5TN16DmatrYfG5nHRx7xjLLD-8...,LZYr5TN16DmatrYfG5nHRx7xjLLD-8dmSTvgdb5Uk-88CcY,fanny1,1088,I,377,340,False,False,True,True
3,3,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'EevAodEB1ogihddloTtNQmr237TbPY...,EevAodEB1ogihddloTtNQmr237TbPYwIGPedgVJ4qum96X...,엠 돈,1055,I,299,260,False,False,False,False
4,4,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'oarzOITC6LUddm097p5zMhpXFT2zeR...,oarzOITC6LUddm097p5zMhpXFT2zeRSX4ZHJ77mv1zcfor0,철회랜드,1025,I,196,158,False,False,True,True

In [312]:
challenger_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         300 non-null    int64
 1   tier          300 non-null    object
 2   leagueId      300 non-null    object
 3   queue         300 non-null    object
 4   name          300 non-null    object
 5   entries       300 non-null    object
 6   summonerId    300 non-null    object
 7   summonerName  300 non-null    object
 8   leaguePoints  300 non-null    object
 9   rank          300 non-null    object
 10  wins          300 non-null    object
 11  losses        300 non-null    object
 12  veteran       300 non-null    object
 13  inactive      300 non-null    object
 14  freshBlood    300 non-null    object
 15  hotStreak     300 non-null    object
dtypes: int64(1), object(15)
memory usage: 37.6+ KB

In [314]:
df = challenger_sample.copy()

In [315]:
df

,index,tier,leagueId,queue,name,entries,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,0,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'Wq6S0VXK-5RxqhCIoj43jaY7yap4wl...,Wq6S0VXK-5RxqhCIoj43jaY7yap4wlOluyY2OKT35Gzvng,관자빵,1026,I,202,170,False,False,False,True
1,1,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'kRsaMVAuKMJ98pVtiiHuIliwEpJiGq...,kRsaMVAuKMJ98pVtiiHuIliwEpJiGqSDRVhfrS50TdPkwt...,Inv Artist,1338,I,428,273,True,False,False,True
2,2,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'LZYr5TN16DmatrYfG5nHRx7xjLLD-8...,LZYr5TN16DmatrYfG5nHRx7xjLLD-8dmSTvgdb5Uk-88CcY,fanny1,1088,I,377,340,False,False,True,True
3,3,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'EevAodEB1ogihddloTtNQmr237TbPY...,EevAodEB1ogihddloTtNQmr237TbPYwIGPedgVJ4qum96X...,엠 돈,1055,I,299,260,False,False,False,False
4,4,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'oarzOITC6LUddm097p5zMhpXFT2zeR...,oarzOITC6LUddm097p5zMhpXFT2zeRSX4ZHJ77mv1zcfor0,철회랜드,1025,I,196,158,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'alMRPqSjnkp4OII6-ZBbCdqdt3jXuh...,alMRPqSjnkp4OII6-ZBbCdqdt3jXuhPl0o9_oWhECrDkGg,깨로록,1025,I,100,66,False,False,False,True
296,296,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'UiV0CKlJ-tHX7LVwQ2Z95nxdox8OMn...,UiV0CKlJ-tHX7LVwQ2Z95nxdox8OMnEEv404aJQipt1CBZ...,소추하남자봉달,1203,I,243,225,False,False,False,False
297,297,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'cSXx2KKA1LyGEDbS1Od8GH_Zwoduvf...,cSXx2KKA1LyGEDbS1Od8GH_ZwoduvfotA6ZNShdRYyivHP...,z천하무적고경이z,1081,I,273,222,False,False,True,False
298,298,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'ZKKeGZw9l_c7hWyk_eJpVy0RCRjScN...,ZKKeGZw9l_c7hWyk_eJpVy0RCRjScNEVfXw0yxZ6Eq6JZQ,가죽부츠,1015,I,95,64,False,False,False,False
299,299,CHALLENGER,946274f2-16b6-376e-8d60-e07ef8f06a7f,RANKED_TFT,Orianna's Dragons,{'summonerId': 'la9MWpvJ81njFDXM-krIjkbc3OEF6y...,la9MWpvJ81njFDXM-krIjkbc3OEF6yQIIqc-PbRotp2hPa...,등감이,1187,I,226,147,True,False,False,True

In [316]:
# 필요없는 컬럼 제거: 'index', 'leagueId', 'queue', 'name', 'eentries', 'rank'
drop_cols = ['index', 'leagueId', 'queue', 'name', 'eentries', 'rank']
df = df.drop(drop_cols, axis=1, errors='ignore')

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tier          300 non-null    object
 1   entries       300 non-null    object
 2   summonerId    300 non-null    object
 3   summonerName  300 non-null    object
 4   leaguePoints  300 non-null    object
 5   wins          300 non-null    object
 6   losses        300 non-null    object
 7   veteran       300 non-null    object
 8   inactive      300 non-null    object
 9   freshBlood    300 non-null    object
 10  hotStreak     300 non-null    object
dtypes: object(11)
memory usage: 25.9+ KB

In [319]:
df.to_csv('sample_user.csv', index=False, encoding='cp949')

In [320]:
## entries 딕셔너리에 들어있던 특성들 설명
# veteran : 현재 리그에서 최소 100게임 이상 플레이한 플레이어
# inactive : 휴면계정
# freshBlood : 최근에 리그에 합류한 새내기
# hotStreak : 연승 중인 플레이어

In [353]:
df.summonerName.nunique()

300

In [354]:
match_id = pd.DataFrame()

for i in range(0, len(df)-1):
    url_puuid = 'https://kr.api.riotgames.com/tft/summoner/v1/summoners/by-name/'\
                +df.summonerName[i]+'?api_key=' + api_key
    url_match = 'https://asia.api.riotgames.com/tft/match/v1/matches/by-puuid/'\
                +requests.get(url_puuid).json()['puuid']+'/ids?start=0&count=200&api_key=' +api_key
    req_match = requests.get(url_match)
    match_id.append(req_match.json())

KeyError: ignored

In [361]:
match_id = pd.DataFrame()

In [427]:
for i in range(284, len(df)-1):
    url_puuid = 'https://kr.api.riotgames.com/tft/summoner/v1/summoners/by-name/'\
                  +df.summonerName[i]+'?api_key=' + api_key
    url_match = 'https://asia.api.riotgames.com/tft/match/v1/matches/by-puuid/'\
                  +requests.get(url_puuid).json()['puuid']+'/ids?start=0&count=200&api_key=' +api_key
    req_match = requests.get(url_match)
    match_id = match_id.append(req_match.json())

In [428]:
print('match_id 개수: ', len(match_id))
match_id

match_id 개수:  59598

                 0
0    KR_6233363333
1    KR_6233290882
2    KR_6232501927
3    KR_6232409409
4    KR_6232324593
..             ...
195  KR_6082653943
196  KR_6082591610
197  KR_6082557590
198  KR_6082406064
199  KR_6081047025

[59598 rows x 1 columns]

In [433]:
match_id = match_id.drop_duplicates()

In [438]:
len(match_id)
match_id.rename(columns = {0: 'match_id'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [439]:
match_id.to_csv('match_ID.csv', index=False, encoding='cp949')